<!doctype html>
<html lang="en" ng-app="MoviesAroundMe">
  <head>
    <meta charset="utf-8">
    <title>Movies Around Me</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/viewTemplateStyle.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,700' rel='stylesheet' type='text/css'>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="app2.js"></script>
  <body ng-controller="moviesControl as mCtrl">
    <div class="mainContainer">
      <div class='header'>
        <input class ="postcode-search" type='text' name="postcode" placeholder="Postcode">
        <span class="site-title">Movies Around Me</span>
        <button class='btn find-movies-button' ng-click="mCtrl.updateMovies()">Find Movies</button>
      </div>

      <div class='content-left-column'>
        <!-- Table should be angular filled -->
        <table class="table table-hover movie-list-table">
          <tr ng-repeat="movie in mCtrl.movies">
            <td>{{movie.Poster}}</td>
            <td><b>{{movie.Title}}<b></td>
            <td>
              <div class="width:100%">IMDb: {{movie.IMDb}}</div>
              <div style="width:100%">Rotten Tomatoes: {{movie.Rotten}}</div>
            </td>
            <td>{{movie.Distance}}</td>
            <td><img src="images/arrow.png" class="arrow"></td>
          </tr>
        </table>
      </div>

      <div class='content-right-column'>
        <div class="google-maps">
          <iframe frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?origin=W14+9AX&destination=SW5 9TA&key=AIzaSyBCj5rD1yeJmhglY3eapLgqW1GC8WZDoP0"></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
