html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
  min-height: 100%;
}

.header {
  width: 100%;
  background-color: grey;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;

  /*The following isn't technically "responsive".*/
  /*Does it matter? If so, is there a way around?*/
  height: 60px;
}

/* The following type selector may not work in all browsers! Check...*/
input[type="text"] {
  float:left;
  border-radius: 10px;
  text-align: center;
  height: 35px;
  font-weight: normal;
  font-size: 18px;
}

button {
  float: right;
  font-weight: normal;
  font-size: 18px;
}

td {
  height: 150px;
}

.content-left-column{
  width: 50%;
  height: 600px;
  border-right: 1px solid black;
  overflow: scroll;
}

.postcode-search {
  outline: none; 
}

.postcode-search:focus::-webkit-input-placeholder {
    opacity: 0;
}

.site-title {
  color: white;
}

.find-movies-button {
   transition: all 0.3s ease 0s;
   border: 0;
}

.find-movies-button:hover {
   background: #CF4647;
}

.movie-list-table {
  height: 500px;
  overflow-y: scroll; 
}